footer {
  background: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  position: relative;
}

.contato a {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-contato li {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-weight: bold;
  font-size: 1.65rem;
  line-height: 1.1;
  margin-bottom: 30px;
  color: #fff;
  align-items: center;
}
.contato h3 {
  color: #8f8f8f;
}
.footer-copy {
  grid-template-columns: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato {
    font-size: 1.25rem;
  }
}
